.player-home {
    position: absolute;
    top: 0;
}

.player-home img {
    cursor: pointer;
    background-color: black;
}

.player-out {
    position: relative;
}

.sideBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

#videoPlayer {
    width: 800px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#timeTrack {
    margin: auto;
    width: 100%;
    height: 32px;
    line-height: 32px;
}

#timeLabel {
    margin: auto;
    padding-top: 0;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    color: white;
}

.loadEffect {
    width: 120px;
    height: 120px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.loadEffect span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: gray;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.loadEffect span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-animation-delay: 0.13s;
}

.loadEffect span:nth-child(2) {
    left: 14px;
    top: 14px;
    -webkit-animation-delay: 0.26s;
}

.loadEffect span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -8px;
    -webkit-animation-delay: 0.39s;
}

.loadEffect span:nth-child(4) {
    top: 14px;
    right: 14px;
    -webkit-animation-delay: 0.52s;
}

.loadEffect span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-animation-delay: 0.65s;
}

.loadEffect span:nth-child(6) {
    right: 14px;
    bottom: 14px;
    -webkit-animation-delay: 0.78s;
}

.loadEffect span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    -webkit-animation-delay: 0.91s;
}

.loadEffect span:nth-child(8) {
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay: 1.04s;
}

.canvasDiv {
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
}

#playCanvas {
    width: 100%;
    height: 100%;
}

.no-padding {
    margin-top: 64px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    height: 32px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-left: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 5px;
}

#playCanvas {
    display: block;
    margin: 0 auto;
}

.player-icon {
    width: 20px;
    padding: 6px;
}

.player-icon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 16px;
}
